[user]
	email = robert.g.levy@gmail.com
	name = Rob Levy
[core]
	editor = /usr/bin/vim
	excludesfile = /home/rob/.gitignore_global
[pull]
	ff = only
[alias]
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[init]
	defaultBranch = master
