# Create a symbolic link from this file to /etc/gitconfig
[user]
	name = Rob Levy
[core]
	editor = /usr/bin/vim
	excludesfile = /home/rob/.gitignore_global
  pager = "less -X -F"
[pull]
	ff = only
[alias]
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
  dev = ! "git switch dev && git pull && git gone"
[init]
  defaultBranch = main
